@import './../../_variables.scss';

#wtfamidoing{}
 .container {
   min-width: 150px;

   width: 75%;
   height: 100%;

   position: fixed;
   bottom: 0;
   height: 89%;
   margin-left: 220px;
   left: 20px;
   opacity: 0.01;
   // background-color: #DAE2F5;
   background-color: #F7F7F7;
   border-radius: 10px;
   transition: opacity 750ms ease-in-out, left 750ms ease-in-out;
   transition-delay: 650ms;
   overflow-x: scroll;
   overflow-y: scroll;
 }

 .showContainer {
   min-width: 150px;

   width: 75%;
   position: fixed;
   bottom: 0;
   height: 89%;
   margin-left: 220px;
   left: 0;
   // background-color: #DAE2F5;
   background-color: #F7F7F7;
   border-radius: 10px;

   opacity: 0.9;
   transition: opacity 750ms ease-in-out, position 750ms ease-in-out, left 750ms ease-in-out;;
   transition-delay: 650ms;
   overflow-x: scroll;
   overflow-y: scroll;
 }


   .containerMobile {
     min-width: 150px;
     margin-top: 20px;


     width: 100%;
     left: 0;
     position: static;
     display: inline-block;
     opacity: 0.01;
     // background-color: #DAE2F5;
     background-color: #F7F7F7;
     border-radius: 10px;
     transition: opacity 750ms ease-in-out, margin-top 750ms ease-in-out;
   }

   .showContainerMobile {
     min-width: 150px;
     margin-top: 20px;


     width: 100%;
     position: static;
     display: inline-block;
     opacity: 0.9;
     // background-color: #DAE2F5;
     background-color: #F7F7F7;
     border-radius: 10px;
     transition: opacity 750ms ease-in-out, margin-top 750ms ease-in-out;
   }
