

.container {
  font-family: sans-serif;

  img.me {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.infotab {
  padding-left: 50px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.me {
      left: 50%;
      margin-left: -512px;   /* 50% */
      z-index: -1;
    }
  }
}
