@import './../../../_variables.scss';

.avatar {
    display: block;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    background-color: #DDD;
    border: 2px solid $containerLight;
    margin-bottom: 25px;
}
