@import './../../../_variables.scss';
@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);

.container {
  width: 100%;
  text-align: left;
  top: 10%;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;

    hr.fancy_line {
        border: 0;
        height: 1px;
        position: relative;
        margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
    }
    hr.fancy_line:before {
        top: -0.5em;
        height: 1em;
    }
    hr.fancy_line:after {
        content:'';
        height: 0.5em;   /* half the height of :before */
        top: 1px;        /* height of hr*/
    }

    hr.fancy_line:before, hr.fancy-line:after {
        content: '';
        position: absolute;
        width: 75%;
    }

    hr.fancy_line, hr.fancy-line:before {
        background: -moz-radial-gradient(center, ellipse cover, rgba(137, 171, 206, 1) 0%, rgba(0,0,0,0) 75%);
        background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(137, 171, 206, 1)), color-stop(75%,rgba(0,0,0,0)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(137, 171, 206, 1) 0%,rgba(0,0,0,0) 75%);
        background: -o-radial-gradient(center, ellipse cover, rgba(137, 171, 206, 1) 0%,rgba(0,0,0,0) 75%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(137, 171, 206, 1) 0%,rgba(0,0,0,0) 75%);
        background: radial-gradient(ellipse at center, rgba(137, 171, 206, 1) 0%,rgba(0,0,0,0) 75%);
    }

    body, hr.fancy_line:after {
        background: #f4f4f4;
    }

  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    -webkit-transition: padding 0.5s, background-color 0.5s ;
  }

  li a:hover {
    background-color: #DAE2F5;
    padding: 8px 32px;
    cursor: pointer;
  }

  .list {
    list-style-type: none;
    margin-top: 16px;
    padding: 0;
  }
}
