@import './../../_variables.scss';

 #wtfamidoing {
   display: none;
 }

 .container {
   min-width: 150px;

   width: 65%;
   height: 90%;

   position: fixed;
   top: 9%;
   right: 5%;

   opacity: 0.01;
   // background-color: #DAE2F5;
   background-color: #F7F7F7;
   border-radius: 10px;
   transition: all 750ms ease-in-out;
   transition-delay: 650ms;
   overflow-x: scroll;
   overflow-y: scroll;
 }

 .showContainer {
   margin-left: 15px;
   min-width: 150px;

   width: 65%;
   height: 90%;

   position: fixed;
   top: 9%;
   right: 7%;

   // background-color: #DAE2F5;
   background-color: #F7F7F7;
   border-radius: 10px;

   opacity: 0.9;
   transition: all 750ms ease-in-out;
   transition-delay: 650ms;
   overflow-x: scroll;
   overflow-y: scroll;
 }
